/* reset css */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

    
body {
    background-color: #1a1a1a;
    width: 100vw;
}
.main-container{
    background-color: #1a1a1a;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

header .logo {
background-color: #000;
color: #d3d3d3;
font-size: 1.8rem;
padding: 10px;
}

header nav ul li, a {
    color: #d3d3d3;
    margin: 10px; 

}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-container {
    display: flex;
    flex-direction: row;

}

.box-container aside {
flex-basis: 15%;

background-color: #d3d3d3;

}

aside a {
    margin-bottom: 10px;
    margin-left: 10px;
    color: #3a3a3a;

}

main {
    flex-basis: 85%;
    background-color: #4b4b4b;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
}

main section {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 10px;
    height: 200px;
    
}

section .thumb-img {
    flex-grow: 10;
    font-size: 1.8rem;
    background-color: #000;
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .thumb-title {
    color: #d3d3d3;
    background-color: #3e3c3c;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;

}